<!-- <table class="table table-striped-columns">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of authors.authors; let i = index">
        <th>{{i + 1}}</th>
        <td>{{author}}</td>
      </tr>
    </tbody>
  </table> -->

<div class="table-scrollable">
  <table class="table table-striped-columns">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let author of authors.authors; let i = index"
        data-bs-toggle="modal"
        data-bs-target="#titlesModal"
        (click)="getTitlesByAuthor(author)"
      >
        <th>{{ i + 1 }}</th>
        <td>{{ author }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="titlesModal"
  tabindex="-1"
  aria-labelledby="titlesModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{ author }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body table-scrollable-modal">
        <table class="table table-striped-columns">
          <tbody>
            <tr *ngFor="let title of titles; let i = index"
            > 
              <td>{{ title.title }}</td>
              <td><i class="bi bi-bookmark-heart" (click)="editFavorites(i)"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
